@import '../../mixins';

.search-bar {
  @include flex-container(row, start, center);
//   padding: 0.3rem;
  box-sizing: border-box;
  height: 38px;
  @include rounded-border(var(--secondary-color), 0.5rem);
  background-color: var(--primary-color);
  width: 100%;
  position: relative;
}

.search-icon {
  font-size: 1.2rem;
  color: var(--secondary-color);
  margin-right: 0.5rem;
}

.search-input {
  width: 100%;
  border: none;
  background: none;
  outline: none;
  font-size: 12px;
  color: var(--text-color);
  
  &::placeholder {
    color: var(--primary-gray-color);
  }
}
