@import '../../mixins';

.search-bar {
  @include flex-container(row, start, center);
  padding: 0.5rem;
  box-sizing: border-box;
  @include rounded-border(var(--secondary-color), 0.5rem);
  @include shadow();
  background-color: var(--primary-color);
  width: 100%;
  gap: 0.5rem;
}

.search-icon {
  font-size: 1.2rem;
  color: var(--secondary-color);
  font-weight: 900;
}

.search-input {
  width: 100%;
  border: none;
  background: none;
  outline: none;
  font-size: 12px;
  color: var(--primary-gray-color);
  
  &::placeholder {
    color: var(--primary-gray-color);
  }
}
