@import '../../mixins';

.payment-methods {
    @include flex-container(column, flex-start);
    position: relative;
    height: 100%;
    border-radius: 8px;

    .method-upi {
        @include rounded-border(var(--light-gray-color), 0.5rem);
        // background-color: var(--light-gray-color);
        @include shadow();
      h3 {
        margin: 0.5rem 1rem;
      }

      div{
        padding: 1rem;
        box-sizing: border-box;
        @include flex-container(row, space-around, center);

        button{
            height: 60px;
            width: 60px;
            background-color: white;
            cursor: pointer;
            border: none;
            @include shadow();
            @include rounded-border(transparent, 50%);
        }

        .g-pay{
            @include background-cover('../../assets/icons/GPay.png');
        }
        .pay-tm{
            @include background-cover('../../assets/icons/PayTM.png');
        }
        
      }
    }

    .method-card{
        @include rounded-border(var(--light-gray-color), 0.5rem);
        @include shadow();
        margin: 1rem 0;
        padding: 0.5rem;
        box-sizing: border-box;
        
        h3{
            margin: 0.5rem;
            color: var(--primary-gray-color)
        }
        
        .card{
            @include flex-container(column);
            gap: 0.6rem;
            @include rounded-border(var(--primary-blue-color), 5px);
            padding: 1rem;
            box-sizing: border-box;

            .input-grp{
                @include flex-container(row, space-between, center);
                label{
                    font-size: 12px;
                    color: var(--primary-blue-color);
                    font-weight: 700;

                }
                input{
                    padding: 0.5rem;
                    @include rounded-border(var(--primary-blue-color), 0.5rem);
                }
            }
        }
    }

    .payment_footer{
        position: absolute;
        bottom: 0;
        @include flex-container(row, center, center);
        width: 100%;
        
        button{
            background-color: var(--red-color);
            padding: 0.8rem 1rem;
            box-sizing: border-box;
            color: white;
            @include rounded-border(transparent, 0.5rem);
            font-size: 16px;
            font-weight: 600;
        }
    }
  }
  