@import '../../mixins';

.dish-container {
  @include flex-container(row, space-between);
  @include shadow();
  height: 140px;
  @include rounded-border(var(--secondary-color), 10px);
  background-color: var(--primary-color);
  padding: 1rem;
  box-sizing: border-box;

  .dish-info {
    @include flex-container(column, flex-start, flex-start);
    width: 60%;

    .image-container{
      height: 12vh;
      img {
        @include rounded-border(transparent, 10px);
        width: 9rem;
        height: 10vh;
        object-fit: cover;
      }
    }

    .dish-name {
      font-weight: 700;
      font-size: 15px;
      text-align: center;
      padding: 0 0.7rem;
      color: var(--primary-gray-color);
      @include rounded-border(var(--light-gray-color), 10px);
    }
  }

  .dish-details {
    @include flex-container(column, space-between, center);
    width: 40%;

    .dish-tools {
      @include flex-container(row, space-between, center);
      gap: 1rem;
      background-color: var(--light-gray-color);
      @include rounded-border(transparent, 10px);
      font-size: 20px;

      button{
        border: none;
      }
      
    }

    .dish-price {
      font-weight: 700;
      color: var(--green-color);
      @include rounded-border(transparent, 10px);
      padding: 3px 10px;
      background-color: var(--light-gray-color);
      font-size: 14px;
    }

    .dish-add {
      border: 1px solid var(--green-color);
      border-radius: 10px;
      background-color: var(--light-gray-color);
      color: var(--green-color);
      text-align: center;
      font-weight: 700;
      cursor: pointer;
      font-size: 14px;
      padding: 0.4rem 1.2rem;
      box-sizing: border-box;
    }
    
  }
}
