@import '../../mixins';

.status_container{
    width: 100%;
    border-collapse: collapse;

    th, td {
        padding: 0.8rem 0;
        box-sizing: content-box;
        text-align: center;
        
      }
  
      th {
        font-size: 14px;
        color: var(--primary-gray-color);
        background-color: var(--light-gray-color);
        
      }
  
      td {
        font-size: 12px;
        color: var(--primary-gray-color);
        font-weight: 500;
      }
  
      tbody tr {
        
        transition: background-color 0.3s ease, box-shadow 0.3s ease;
  
        &:nth-child(odd) {
          background-color: white;
        }
  
        &:nth-child(even) {
          background-color: var(--light-gray-color);
        }
  
        &:hover {
          @include shadow();
          @include rounded-border(var(--primary-gray-color));
          
        }
    }
}