@import '../../mixins';

.tableOrder-container {
  position: relative;
  margin: 0.7rem 0.5rem 0 0.5rem;
  @include rounded-border(var(--green-color), 10px);
  padding: 0.7rem 1rem;
  background-color: white;

  .toggle {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    margin: 0;
  }

  h1 {
    background: white;
    color: var(--green-color);
    position: relative;
    font-size: 18px;
    margin: 0;

    .toggle-label {
      cursor: pointer;
      display: flex;
      align-items: center;
      position: relative;

      &::before {
        content: "";
        display: inline-block;
        border: 8px solid transparent;
        border-left: 12px solid var(--green-color);
      }
    }
  }

  .orders-content-wrapper {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;

    .orders-content {
      padding: 1rem;
    }

    .cart-item {
      margin-bottom: 0.5rem;
      @include rounded-border(var(--green-color), 10px);
      padding: 0.5rem 1rem;

      .item-detail {
        display: flex;
        flex-direction: column;

        .item-header {
          display: flex;
          align-items: center;
          font-size: 16px;
          font-weight: bold;

          .item-name {
            margin-right: 1rem;
          }

          .item-quantity {
            color: #3A3A3A;
          }
        }

        .item-serving-size {
          font-size: 12px;
          color: var(--secondary-color);
        }

        .item-addons {
          display: flex;
          gap: 0.5rem;

          .addon-name {
            background-color: var(--light-gray-color);
            padding: 0.2rem 0.5rem;
            border-radius: 5px;
            font-size: 12px;
            color: var(--primary-gray-color);
          }
        }
      }
    }

    .table-id {
      margin-top: 1rem;
      font-weight: bold;
    }
  }

  .toggle:checked ~ h1 .toggle-label::before {
    border-left: 8px solid transparent;
    border-top: 12px solid var(--green-color);
    margin-top: 12px;
    margin-right: 10px;
  }

  .toggle:checked ~ .orders-content-wrapper {
    max-height: 500px; /* Adjust as needed */
  }
}
