@import '../../mixins';

.sendOtpButton-container{
    @include gradient-div(var(--secondary-color), var(--light-secondary-color));
    height: 4rem;
    width: 100%;
    font-weight: bold;
    font-size: 12px;
    color: white;
    @include rounded-border(transparent, 10px);
    border: none;
}