  @import '../../mixins';

  .cook_container {
      @include flex-container(row);
      gap: 1.3rem;
      padding: 0.5rem;

      .orders-list {
          display: flex;
          gap: 2.6rem;
          flex-wrap: wrap;
      }
    }
    
    