@import '../../mixins';

.textInput-container{
    height: 3rem;
    width: 100%;
    @include rounded-border(var(--secondary-color), 10px);
    padding: 1rem;
    color: var(--secondary-color);
    font-size: 25px;
    box-sizing: border-box;
}